
#mainDiv {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	height: 100%;
}

#gamepadDiv {
	max-width:100%;
	max-height:100%;
	position: absolute;
	top: 15%;
    left: 20%;
}

#vrDiv {
	max-width:100%;
	max-height:100%;
	width: 80%;
	/*height: 100%;*/
	position: absolute;
	top: 15%;
    left: 20%;
}

.imgDiv {
	width: 70%;
	/*position: absolute;*/
}

#highlightButtonBallDiv {
	background-color: rgba(255, 100, 0, 0.7);
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	position: absolute;
	top: 28%;
    left: 22%;
    display: none;

	background-image: -webkit-radial-gradient(40% 40%, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));;
	background-image: -moz-radial-gradient(40% 40%, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));;
	background-image: -ms-radial-gradient(40% 40%, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));;
	background-image: radial-gradient(circle at 40% 40%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#highlightAxisBallDiv {
	background-color: rgba(100, 200, 255, 0.7);
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	position: absolute;
	top: 50%;
    left: 22%;
    display: none;

	background-image: -webkit-radial-gradient(40% 40%, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));;
	background-image: -moz-radial-gradient(40% 40%, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));;
	background-image: -ms-radial-gradient(40% 40%, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));;
	background-image: radial-gradient(circle at 40% 40%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

